@model IEnumerable<NewsManagement.ViewModels.Catalog.Newss.NewsVm>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "NewsSave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="lwrap lt-category desktop">
    <div class="clearfix wrap-contanter">
        <div class="lpos lpos-1">
            <div class="">
                <div class="w-item w-725 col-xs-12 wf-submenu style-1 ">
                    <div class="w-inner">
                        <div class="article-breadcrum">
                            <ul class="breadcrumb">
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                                </li>
                                <li class="active">Danh sách bài viết bạn đã lưu</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-item w-40 col-xs-12 wf-listpost style-1 ">
                    <div class="w-inner">
                        <div class="wbox">
                            <div class="w-head">
                                <h1 class="w-title"> <a href="javascript:void(0)" title="Tin tức  mới nhất">Tin tức đã lưu</a>  </h1>
                            </div>
                            @foreach (var item in Model)
                            {
                                var lengtit = item.Title.Length;
                                var lengdes = item.Description.Length;
                                <div id="save_@item.Id" class="w-body list">
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="block w150 pos-rel" asp-controller = "News" asp-action = "Index" asp-route-id = "@item.Id" title="@item.Title">
                                                <img class="thumbnail" src="@(Configuration["BaseAddress"] + "/news-content/" + @item.Img)" width="100%" alt="@item.Title">

                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h3 class="heading"><a class="pretty-big" asp-controller = "News" asp-action = "Index" asp-route-id = "@item.Id" title="@item.Title">@(lengtit > 100 ? item.Title.Substring(0,100) + "..." : item.Title)</a></h3>
                                            <p class=""><a asp-controller = "News" asp-action = "Index" asp-route-id = "@item.Id" title="@item.Title">@(lengdes > 200 ? item.Description.Substring(0,200) + "..." : item.Description)</a></p>
                                            <p style="margin-top:5px;"><a>Thời gian lưu bài: @item.Date.ToString("dd/MM/yyyy")</a></p>
                                            <p>
                                                <a onclick="Delete(@item.Id)" style="color:#ff0000" class="del_follow collapsed">Xóa</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/assets/admin/js/plugins/jquery.js"></script>
<script src="~/assets/admin/js/plugins/jquery.min.js"></script>

<script>
    
    var Delete = function (id) {
        $.ajax({
            url: "/News/DeleteSave",
            data: {
                id: id
            },
            dataType: "json",
            type: "POST",
            success: function (result) {
                if (result == true) {
                    $("#save_" + id).remove();
                }
            }
        })
    }
</script>