@model IEnumerable<NewsManagement.ViewModels.Catalog.Newss.NewsVm>

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<div class="w-item w-12 col-xs-12 wf-home style-1 height-wrap">
    <div class="w-inner">
        <div class="w625 pull-left height-target">
           
            @foreach (var item in Model.Take(1))
            {
                    var lengtit = item.Title.Length;
                    var lengdes = item.Description.Length;
                    <div class="media">
                        <a class="block"
                           asp-controller = "News" asp-action = "Index" asp-route-id = "@item.Id" 
                           title="@item.Title">
                            <img class="thumbnail"
                                 src="@(Configuration["BaseAddress"] + "/news-content/" + @item.Img)"
                                 alt="@item.Title"
                                 style=" min-height: 257px; border-radius: 60px 10px 20px 10px;" />
                        </a>
                        <h2 class="heading">
                            <a class="huge ovl"
                               href="@Url.Action("Detailt", "News", new { area = "", id = item.Id })"
                               title="@item.Title">
                                 @(lengtit > 100 ? item.Title.Substring(0,100) + "..." : item.Title)
                            </a>
                            <time class="time friendly rel-time" datetime="@item.Date.ToString("yyyy-MM-dd HH:mm:ss")"></time>
                        </h2>
                        <p class="sapo">
                            @(lengdes > 185 ? item.Description.Substring(0,185) + "..." : item.Description)
                        </p>
                    </div>
               

                
            }

        </div>
        <div class="w350 pull-left height-apply">
            <div class="tabs-wrap" id="">
                <div class="tabs-content">
                    <div class="tabs-panel active" id="" style="
                        padding: 0px 0px 0 15px;
                        max-height: 517px;
                        overflow: auto;
">
                        <div class="swiper-container scroll-content">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="w-inner">
                                        <div class="w-body">
                                            @{int i = 0; }
                                            @foreach (var item in Model)
                                            {
                                                if (i >= 1)
                                                {

                                                    var lengtit = item.Title.Length;
                                                    var lengdes = item.Description.Length;
                                                    <div class="media" id="">
                                                        <div class="media-left">
                                                            <a class="block"
                                                               asp-controller = "News" asp-action = "Index" asp-route-id = "@item.Id" 
                                                               title="@item.Title">
                                                                <div class="pos-rel">
                                                                    <img class="thumbnail w100"
                                                                         src="@(Configuration["BaseAddress"] + "/news-content/" + @item.Img)"
                                                                         alt="@item.Title">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h3 class="heading normal">
                                                                <a asp-controller = "News" asp-action = "Index" asp-route-id = "@item.Id" 
                                                                   title="@item.Title">
                                                                    @(lengtit > 110 ? item.Title.Substring(0,110) + "..." : item.Title)
                                                                </a> <time class="time friendly rel-time" datetime="@item.Date.ToString("yyyy-MM-dd HH:mm:ss")"></time>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                }

                                                i++;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
