@model IEnumerable<NewsManagement.ViewModels.Catalog.Newss.NewsVm>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
	var i = 0;
}
<div class="gw-item w-14 col-xs-12 wf-boxcats style-5 pad-l-30">
    <div class="w-inner">
        <div class="w-head">
            <h3 class="w-title">
                <a href=""
                   title="Video HOT">Video HOT</a> <img src="https://tintuc.vn/theme/tintuc/icon/hr_line.jpg" alt="">
            </h3>
        </div>
        <div class="w-body">
            @{
                foreach (var item in Model)
                {
                        var lengtit = item.Title.Length;
                        var lengdes = item.Description.Length;
                        if (i == 0)
                        {
                            <div class="media">
                                <a class="block"
                                   href="@Url.Action("Detailt", "News", new { area = "", Id = item.Id })"
                                   title="@item.Title">
                                    <img class="thumbnail"
                                         src="@(Configuration["BaseAddress"] + "/news-content/" + @item.Img)"
                                         alt="@item.Title" /><i class=' fa bx bx-play-circle' style='color:#ff0909'></i>
                                </a>
                                <h2 class="heading video ">
                                    <a class="big ovl pos-rel"
                                       href="@Url.Action("Detailt", "News", new { area = "", Id = item.Id })"
                                       title="@item.Title">
                                        @(lengtit > 45 ? item.Title.Substring(0,45) + "..." : item.Title) <time class="time friendly rel-time" datetime="@item.Date.ToString("yyyy-MM-dd HH:mm:ss")"></time>
                                        <span class="pos-abs top left">
                                            <i class="ico play_nor"></i>
                                        </span>
                                    </a>
                                </h2>
                                <p class="sapo">
                                    @(lengdes > 100 ? item.Description.Substring(0,100) + "..." : item.Description)
                                </p>
                            </div>
                        }
                        else
                        {
                            lengtit = item.Title.Length;
                            lengdes = item.Description.Length;
                            <div class="media">
                                <div class="media-left">
                                    <a class="block"
                                       href="@Url.Action("Detailt", "News", new { area = "", Id = item.Id })"
                                       title="@item.Title">
                                        <div class="pos-rel">
                                            <img class="thumbnail w100"
                                                 src="@(Configuration["BaseAddress"] + "/news-content/" + @item.Img)"
                                                 alt="@item.Title" />
                                            <span class="play-wrap pos-abs">
                                                <i class="ico play"></i>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading normal">
                                        <a href="@Url.Action("Detailt", "News", new { area = "", Id = item.Id })"
                                           title="@item.Title">
                                            @(lengtit > 90 ? item.Title.Substring(0,55) + "..." : item.Title)
                                        </a>  <time class="time friendly rel-time" datetime="@item.Date.ToString("yyyy-MM-dd HH:mm:ss")"></time>
                                    </h3>
                                </div>
                            </div>
                        }
                        i++;
                }
            }
        </div>
    </div>
</div>