@using NewsManagement.Data.Enums
@using NewsManagement.ViewModels.Common;
@model PagedResult<NewsManagement.ViewModels.Catalog.CatalogVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header{
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
            <a class="opacity-3 text-dark" href="javascript:;">
                <svg width="12px" height="12px" class="mb-1" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Bác Sĩ </title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-1716.000000, -439.000000)" fill="#252f40" fill-rule="nonzero">
                            <g transform="translate(1716.000000, 291.000000)">
                                <g transform="translate(0.000000, 148.000000)">
                                    <path d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                                    <path d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" asp-controller="Topic" asp-action="Index">Quản lý chủ đề</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Danh sách chủ đề</li>
    </ol>
    <h6 class="font-weight-bolder mb-0">Danh sách chủ đề tin tức</h6>
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">Tất cả chủ đề tin tức</h5>
                            <p class="text-sm mb-0">
                                Chủ đề truy vấn nhiều bảng không thể xóa.
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">
                                <a href="@Url.Action("CreateTopic", "Topic", new { area = "Admin" })" class="btn bg-gradient-info btn-sm mb-0">+&nbsp; Thêm chủ đề tin tức</a>

                            </div>
                        </div>
                    </div>
                </div>
                @if (TempData["AlertMessage"] != null)
                {

                    <div id="AlertBox" data-notify="container" class="col-xs-12 col-sm-12 alert @TempData["AlertType"] alert-with-icon hide1" role="alert" data-notify-position="top-center" style="">

                        <span data-notify="title"></span> <span data-notify="message">@TempData["AlertMessage"]</span>
                        <a href="#" target="_blank" data-notify="url"></a>
                    </div>

                    <style>
                        .seachvisble {
                            display: none;
                        }
                    </style>
                }
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class="table table-flush" id="products-list">
                            <thead class="thead-light">
                                <tr>
                                    <th>Mã chủ đề</th>
                                    <th>Tên chủ đề</th>
                                    <th>Nổi bật</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr id="row_@item.Id">
                                        <td class="text-sm"><h6 class="ms-3 my-auto">@item.Id</h6></td>
                                        <td class="text-sm"><h6 class="ms-3 my-auto">@item.Name</h6></td>
                                        <td class="text-sm"><h6 class="ms-3 my-auto"><span class="badge @(item.Hot ? "badge-success" : "badge-danger") badge-sm">@item.Hot</span></h6></td>
                                        <td>
                                            <span class="badge @(item.Status == Status.Active ? "badge-success" : "badge-danger") badge-sm" id="status_@item.Id">@(item.Status == Status.Active? "Hiển thị" : "Ẩn")</span>
                                        </td>

                                        <td class="text-sm">
                                            <a  asp-controller = "Topic" asp-action = "Update" asp-route-id = "@item.Id" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Thay đổi chủ đề">
                                                <i class="fas fa-user-edit text-secondary"></i>
                                            </a>
                                            <a onclick="@(item.Status== Status.Active? "ConfirmStatus("+@item.Id+")": "ConfirmDelete("+@item.Id+")" )" data-id="@item.Id" data-bs-toggle="tooltip" data-bs-original-title="Xóa chủ đề">
                                                <i class="fas fa-trash text-secondary"></i>
                                            </a>
                                        </td>
                                    </tr>

                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Mã chủ đề</th>
                                    <th>Tên chủ đề</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModel" onclick="EnableQuesion()" class="swal2-container swal2-center swal2-backdrop-show delete_none" style="overflow-y: auto;">
        <div aria-labelledby="swal2-title" aria-describedby="swal2-html-container" class="swal2-popup swal2-modal swal2-icon-warning swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: grid;">
            <div class="swal2-icon swal2-warning swal2-icon-show" style="display: flex;">
                <div class="swal2-icon-content">!</div>
            </div>
            <h2 class="swal2-title" id="swal2-title" style="display: block;">Bạn có chắc không?</h2>
            <div id="quesion" class="swal2-html-container" style="display: block;">Bạn sẽ không thể hoàn nguyên điều này!</div>
            <div class="swal2-actions">
                <div class="swal2-loader"></div>
                <button id="okok" type="button" class="swal2-confirm btn bg-gradient-success" aria-label="" onclick="Delete()" style="display: inline-block;">Có, xóa nó!</button>
                <button type="button" class="swal2-cancel btn bg-gradient-danger" aria-label="" onclick="Enable()" style="display: inline-block;">Hủy bỏ</button>
            </div>
        </div>
    </div>
    <div id="loaderDir" onclick="EnableDel()" class="swal2-container swal2-center swal2-backdrop-show delete_none" style="overflow-y: auto;">
        <div aria-labelledby="swal2-title" aria-describedby="swal2-html-container" class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: grid;">

            <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                <span class="swal2-success-line-tip"></span>
                <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div> <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
            </div>

            <h2 class="swal2-title" id="swal2-title" style="display: block;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Đã xóa!</font>
                </font>
            </h2>
            <div class="swal2-html-container" style="display: block;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Tệp của bạn đã bị xóa.</font>
                </font>
            </div>



            <div class="swal2-actions">
                <div class="swal2-loader"></div>
                <button type="button" onclick="Enable()" class="swal2-confirm swal2-styled" aria-label="" style="display: inline-block;">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">VÂNG</font></font>
                </button>

            </div>

        </div>
    </div>
    <input type="hidden" id="hiddenEmployeeId" />
</div>

@section jsFooter{
    <script src="~/js/plugins/datatables.js"></script>
    <script>
        if (document.getElementById('products-list')) {
            const dataTableSearch = new simpleDatatables.DataTable("#products-list", {
                searchable: true,
                fixedHeight: false,
                perPage: 7
            });
            document.querySelectorAll(".export").forEach(function (el) {
                el.addEventListener("click", function (e) {
                    var type = el.dataset.type;
                    var data = {
                        type: type,
                        filename: "soft-ui-" + type,
                    };
                    if (type === "csv") {
                        data.columnDelimiter = "|";
                    }
                    dataTableSearch.export(data);
                });
            });
        };
    </script>
    <script>
        var ok = document.getElementById("loaderDir");
        var cel = document.getElementById("myModel");
        var EnableQuesion = function () {
            cel.classList.add("delete_none");
            cel.classList.remove("delete_block");
        }
        var EnableDel = function () {
            ok.classList.add("delete_none");
            ok.classList.remove("delete_block");
        }
        var ConfirmDelete = function (Id) {
            $("#hiddenEmployeeId").val(Id);
            document.getElementById("myModel").classList.toggle('delete_none');
            document.getElementById("myModel").classList.toggle('delete_block');
            $("#quesion").html("Bạn sẽ không thể hoàn nguyên điều này!");
            $("#okok").html("Có, xóa nó!");
        }
        var ConfirmStatus = function (Id) {
            $("#hiddenEmployeeId").val(Id);
            document.getElementById("myModel").classList.toggle('delete_none');
            document.getElementById("myModel").classList.toggle('delete_block');
            $("#quesion").html("Bạn có muốn tạm ẩn loại tin tức này?");
            $("#okok").html("Có, ẩn nó!");
        }
        var Delete = function () {
            EnableQuesion();
            document.getElementById("loaderDir").classList.toggle('delete_none');
            document.getElementById("loaderDir").classList.toggle('delete_block');
            var empId = $("#hiddenEmployeeId").val();
            $.ajax({
                url: "/Topic/Delete",
                data: { id: empId },
                dataType: "json",
                type: "POST",
                success: function (result) {
                    console.log(result.response);
                    if (result.response == 2) {
                        $("#row_" + empId).remove();
                    } else if(result.response == 1) {
                        document.getElementById("status_" + empId).classList.toggle('badge-success');
                        document.getElementById("status_" + empId).classList.toggle('badge-danger');
                        $("#status_" + empId).html("Ẩn");
                    }else{
                        $("#title").html("Lỗi sever!");
                        $("#descript").html("Không thể thực hiện chức năng này.");
                    }
                }
            })
        }
    </script>
    <!-- Kanban scripts -->
    <script src="~/js/plugins/dragula/dragula.min.js"></script>
    <script src="~/js/plugins/jkanban/jkanban.js"></script>

    <script>
        var menu_bd = document.getElementById("menu_tpic");
        menu_bd.classList.add("active");
        menu_bd.classList.remove("collapsed");
        var a_xbd = document.getElementById("a_tpic");
        a_xbd.classList.add("active");
        var dashboardsExamples = document.getElementById("quanlychude");
        dashboardsExamples.classList.add("show");
    </script>
}