@using Microsoft.AspNetCore.Http
@using NewsManagement.Utilities.Constants

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/News_free-file.png">
    <link rel="icon" type="image/png" href="~/img/News_free-file.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>@ViewBag.Title - Tin tức 24h</title>
    <meta name="description" content="@ViewBag.description" />
    <meta name="keywords" content="@ViewBag.keyword" />
    <meta name="robots" content="index,follow">

    <link href="~/css/stylesvn.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/style_layout.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>


</head>
<body>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="w-item wf-topbar style-1 col-xs-12" >

                    <div class="w-inner">
                        <div class="container">
                            <div class="navbar" style="width: 110%;    margin: auto;    left: -5%;    position: relative;">
                                <div class="logo-wrap col-xs-3 no-pad" style="width:auto; margin:0.5rem 0rem;">

                                    <a href="@Url.Action("Index", "Home", new { area =""})" class="logo " title="Đọc Báo Tin Tức Việt Nam" style="padding:0px;">
                                        <p class="p" style="background: transparent url(../../img/logo/News.vn_free-file.png) 0 0 no-repeat; background-size: 80%; width:100px;height:30px;">
                                            News
                                        </p>
                                    </a>

                                </div>
                                <ul class="nav pull-left">
                                    <li style="padding: 0.5rem 0rem !important;">
                                        <a href="javascript:void(0)">
                                            <span>
                                                <i class="ico ico_common phone"></i>Hotline:
                                                <strong class="hightlight">0898.081.819</strong> - Quảng Cáo: <strong class="hightlight">0964.705.888</strong>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav pull-left">
                                    <!--li><a href="https://tintuc.vn/tin-dia-phuong" class="uppercase hightlight">Tin tức 63 tỉnh</a></li-->
                                    <li style="padding: 0.5rem 0rem !important;"><a href="@Url.Action("NewsLatest","News")" class="uppercase">Tin mới</a></li>
                                </ul>
                                <ul class="nav pull-left" id="header_address"></ul>
                                <ul class="nav pull-right navbar-nav d-lg-block d-none">
                                    <li style="padding: 0.5rem 0rem !important;">
                                       <form id="SearchForm" action="@Url.Action("NewsSearch","News")" method="get">
                                            <div class="input-group ">
                                                <input class="input-group-field input-quiet txtSearch" id="" style=" border-radius: 5px  0 0 5px;"  type="text" placeholder="Tìm kiếm" name="search" value ="@ViewBag.search">
                                                <div class="input-group-button">
                                                    <button type="submit" class="button-quiet">
                                                        <i class="search ico ico_common"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    @if(!User.Identity.IsAuthenticated)
                                    {
                                        <li class="p "><a href="@Url.Action("Index","Login", new { area = "" })" class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2 " style="font-size:11px !important;">Đăng nhập</a></li>
                                        <li style="padding: 0.5rem 0rem !important;"><a asp-controller="Login" asp-action="Register" class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2 " style="font-size:11px !important;">Đăng ký</a></li>

                                    }
                                    else
                                    {
                                        if (User.IsInRole("user")||User.IsInRole("client"))
                                        {
                                            <li class="p "><a asp-controller="Profile" asp-action="Index" class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2 " style="font-size:11px !important;"> @User.Identity.Name  </a></li>
                                        }
                                        else
                                        {
                                            @await Component.InvokeAsync("LoginAdminComponent")
                                        }

                                        <li style="padding: 0.5rem 0rem !important;"> <a asp-controller="Login" asp-action="Logout" class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2 " style="font-size:11px !important;">Đăng xuất</a></li>
                                   
                                    }
                                    </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-item wf-banner style-1 col-xs-12" style="height:20px ;">

                </div>
            </div>

            <div class="lwrap lt-home desktop">
                <div class="lpos lpos-0">
                    <div class="row">
                        <div class="w-item w-825 col-xs-12 wf-menu hor ">
                            <div class="w-inner">
                                <ul class="nav main-nav has-indicator" id="MenuHorz">
                                    <li class="active  ">
                                        <a href="@Url.Action("Index", "Home", new { area = "" })" title="Trang chủ">
                                            <i class="ico ico_20x16 home no-mg"></i><span class="indicator"></span>
                                        </a>
                                    </li>
                                    @await Component.InvokeAsync("NavComponent")

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()

                <div class="block"></div>
                <div class="lpos lpos-4">
                    <!--ads_footer-->

                    <div class="row">
                        <div class="w-item w-382 col-xs-12 wf-html"></div>
                        <div class="w-item w-4 col-xs-12 wf-menu ful">
                            <div class="w-inner">
                                <div class="horzmenu pos-rel pos-reldemo">
                                    <ul class="nav">
                                        <li><a rel="nofollow" href="@Url.Action("Index", "Home", new { area =""})">Trang chủ</a></li>
                                        <li><a rel="nofollow" href="/">Ảnh</a></li>
                                        <li><a rel="nofollow" href="/">Video</a></li>
                                        <li><a rel="nofollow" href="@Url.Action("NewsLatest","News")">Tin mới nhất</a></li>
                                        <li><a rel="nofollow" href="@Url.Action("NewsLatest","News")">Tin tức 24h</a></li>
                                        <li><a rel="nofollow" href="@Url.Action("NewsLatest","News")">Đọc báo 24h</a></li>
                                        <li><a rel="nofollow" href="@Url.Action("NewsLatest","News")">Báo mới</a></li>
                                    </ul>
                                </div>
                               @await Component.InvokeAsync("CategoryFooter")
                                <div class="horzmenu pos-rel pos-reldemo">
                                    <ul class="nav" style="background: #e8e8e8;">
                                        <li><a href="javascript:void()">Tin tức tỉnh thành</a></li>
                                    </ul>
                                </div>
                                @await Component.InvokeAsync("CityComponent", new{ })
                                <div class="horzmenu pos-rel pos-reldemo">
                                    <ul class="nav" style="background: #e8e8e8;">
                                        <li><a href="javascript:void()">Chủ đề nổi bật</a></li>
                                    </ul>
                                </div>
                                @await Component.InvokeAsync("TopicComponent")
                                <div class="horzmenu pos-rel pos-reldemo">
                                    <ul class="nav" style="background: #e8e8e8;">
                                        <li><a href="javascript:void()">Sự kiện nổi bật</a></li>
                                    </ul>
                                </div>
                               @await Component.InvokeAsync("EventComponent")
                                @await Component.InvokeAsync("FooterComponent")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/css/unicons.css" rel="stylesheet" />
    <link href="~/css/buttonscroll.css" rel="stylesheet" />
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <script id="rendered-js">
        /* Please ❤ this if you like it! */
        (function ($) {
            "use strict";
            //Switch dark/light
            $(".switch").on('click', function () {
                if ($("body").hasClass("light")) {
                    $("body").removeClass("light");
                    $(".switch").removeClass("switched");
                } else {
                    $("body").addClass("light");
                    $(".switch").addClass("switched");
                }
            });
            $(document).ready(function () {
                "use strict";
                //Scroll back to top
                var progressPath = document.querySelector('.progress-wrap path');
                var pathLength = progressPath.getTotalLength();
                progressPath.style.transition = progressPath.style.WebkitTransition = 'none';
                progressPath.style.strokeDasharray = pathLength + ' ' + pathLength;
                progressPath.style.strokeDashoffset = pathLength;
                progressPath.getBoundingClientRect();
                progressPath.style.transition = progressPath.style.WebkitTransition = 'stroke-dashoffset 10ms linear';
                var updateProgress = function () {
                    var scroll = $(window).scrollTop();
                    var height = $(document).height() - $(window).height();
                    var progress = pathLength - scroll * pathLength / height;
                    progressPath.style.strokeDashoffset = progress;
                };
                updateProgress();
                $(window).scroll(updateProgress);
                var offset = 50;
                var duration = 550;
                jQuery(window).on('scroll', function () {
                    if (jQuery(this).scrollTop() > offset) {
                        jQuery('.progress-wrap').addClass('active-progress');
                    } else {
                        jQuery('.progress-wrap').removeClass('active-progress');
                    }
                });
                jQuery('.progress-wrap').on('click', function (event) {
                    event.preventDefault();
                    jQuery('html, body').animate({ scrollTop: 0 }, duration);
                    return false;
                });
            });

        })(jQuery);
        //# sourceURL=pen.js</script>


    <script id="rendered-js">
        $(function () {


            //Sticky navigation on scroll.
            $(document).on('scroll', function () {
                if ($(this).scrollTop() > 50) {
                    $('#MenuHorz').addClass('sticky');
                } else {
                    $('#MenuHorz').removeClass('sticky');
                }
            });
        });
        //# sourceURL=pen.js
    </script>
    <script src="~/js/sticky-kit.js"></script>
    <script>
    $(function () {
        $('time').each(function () {
            var date = formatTime($(this).attr("datetime"), 0);
            $(this).html(date);
        });
        $('span.dim').each(function () {
            var date = formatTime($(this).attr("datetime"), 1);
            $(this).html(date);
        });
        $('time.time_friendly').each(function () {
            var date = formatTime($(this).attr("datetime"), 2);
            $(this).html(date);
        });
    });
    formatTime = function (time, status) {
        var datetimeview = '',
            datenow = new Date(convertDateForIos('@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")')),
            datenews = new Date(time);
        timeview = datenow.getTime() - datenews.getTime();
        hoursdate = Math.floor(timeview / 1000 / 60 / 60);
        minutesdate = Math.floor(timeview / 1000 / 60);
        var getDate = datenews.getDate();
        var getMonth = datenews.getMonth() + 1;
        var getFullYear = datenews.getFullYear();
        var getHours = datenews.getHours();
        var getMinutes = datenews.getMinutes();
        if (hoursdate == 0) {
            if (minutesdate > 0) {
                if (status == 0 || status == 2) {
                    datetimeview = '<i class="fa fa-clock-o"></i> ' + minutesdate + ' phút trước';
                } else {
                    datetimeview = '- ' + minutesdate + ' phút trước';
                }
            } else {
                if (status == 0 || status == 2) {
                    datetimeview = '<i class="fa fa-clock-o"></i> 1 phút trước';
                } else {
                    datetimeview = '- 1 phút trước';
                }
            }
        }
        if (hoursdate < 3 && hoursdate > 0) {
            if (status == 0 || status == 2) {
                datetimeview = '<i class="fa fa-clock-o"></i> ' + hoursdate + ' giờ trước';
            } else if (status == 1) {
                datetimeview = '- ' + hoursdate + ' giờ trước';
            }
        }
        if (hoursdate >= 3) {
            if (status == 1) {
                if (getDate < 10) { getDate = '0' + getDate; }
                if (getMonth < 10) { getMonth = '0' + getMonth; }
                if (getHours < 10) { getHours = '0' + getHours; }
                if (getMinutes < 10) { getMinutes = '0' + getMinutes; }
                datetimeview = '- ' + getDate + '/' + getMonth + '/' + getFullYear + ' ' + getHours + ':' + getMinutes;
            } else if(status ==2){
                datetimeview = '<i class="fa fa-clock-o"></i> ' + getDate + '/' + getMonth + '/' + getFullYear + ' ' + getHours + ':' + getMinutes;
            }
        }
        return datetimeview;
    }
    function convertDateForIos(date) {
        var arr = date.split(/[- :]/);
        date = new Date(arr[0], arr[1] - 1, arr[2], arr[3], arr[4], arr[5]);
        return date;
    }
    </script>
    <script src="~/js/controller/baseController.js"></script>
   
    @RenderSection("scripts", required: false)

</body>
</html>

